
<!---debug><h2>Hello, <%= if @all_bills then @all_bills else "world" end %> !</h2><--->
<div class='all-bills'>
  <ul>
  <% @all_bills.map do |bill| %>
    <li class='block-bill'>
      <% y = bill[:link].match(/bills\/(.*).json/)[1] %>
      <a href="/bills/<%= y %>"><%= bill[:number] %></a>
      <p><%= bill[:title] %></p>
      <p><%= bill[:link] %></p>
      <p><%= y = bill[:link].match(/bills\/(.*).json/)[1] %></p>
    </li>
  <% end %>
  </ul>
  <nav>
    <a href="/">Home</a>
  </nav>
</div>
