<div class='container'>
  <div class='card'>
    <div class='card-body'>
      <h1><%= @raw_data_result_only["congress"] %>th Congress</h1>
      <h2><%= @raw_data_result_only["bill"] %></h2>
      <h3><%= @raw_data_result_only["title"] %></h3>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <ul>
        <h3>About</h3>
        <li>Introduced on: <%= @raw_data_result_only["introduced_date"] %></li>
        <li>Sponsor:
          <% member = @raw_data_result_only["sponsor_uri"].match(/members\/(.*).json/)[1] %>
            <a href="/members/<%= member %>"><%= @raw_data_result_only["sponsor"] %></a>
        </li>
        <li>No. cosponsors: <%= @raw_data_result_only["cosponsors"] %></li>
        <li>Responsible Committee: <%= @raw_data_result_only["committees"] %></li>
        <li>Latest major action done on: <%= @raw_data_result_only["latest_major_action_date"] %></li>
      </ul>
      <ul>
        <h3>Actions Taken</h3>
        <li>Latest: <%= @raw_data_result_only["latest_major_action"] %></li>
        <li>House vote: <%= @raw_data_result_only["house_passage_vote"] %></li>
        <li>Senate vote: <%= @raw_data_result_only["senate_passage_vote"] %></li>
      </ul>
      <ul>
        <h3>History</h3>
         <li>
           <% @raw_data_result_only["actions"].map do |action| %>
            <p><%= action["description"] %> Action taken on <%= action["datetime"] %></p>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
  <div class='card'>
    <div class='card-body bg-primary'>
      <a href="#" class="twitter-share-button text-light" data-size="large" id="link" target="_blank">Share this!</a>
      <script type="text/javascript">
      window.onload = function(){
        var linkText = "https://twitter.com/intent/tweet?text=Check%20out%20this%20upcoming%20bill%20in%20Congress:%20"
        document.getElementById("link").href = linkText + window.location.toString();
      }
      </script>
    </div>
  </div>
</div>
