<div class='row bg-secondary'>
  <div class="col-sm">
  </div>
  <div class="col-sm">
  <% @all_members.each do |member| %>
      <% y = member[:link].match(/members\/(.*).json/)[1] %>
      <div class="card bg-dark text-white">
          <div class="card-header text-center">
            <a href="/members/<%= y %>"><%= member[:first_name] + " " + member[:last_name] %></a>
          </div>
          <div class="card-body text-center">
            <p>Party: <%= member[:party] %></p>
            <p>State: <%= member[:state] %></p>
            <% if member[:next_election].present? %>
              <p>Next election: <%= member[:next_election] %></p>
            <% end %>
            <% if member[:twitter_account].present? %>
              <a class="card-link" href="https://twitter.com/<%= member[:twitter_account]%> ">@<%= member[:twitter_account] %></a>
            <% end %>
          </div>
        </div>
  <% end %>
  </div>
  <div class="col-sm">
  </div>
</div>
